.tableTransaction {
  margin: 30px auto;
  width: 100%;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 50px;
  border-radius: 5px;
  background-color: inherit;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  align-items: center;
}
.header {
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  padding: 10px 15px;
  background-color: rgb(7, 174, 204);
  text-transform: uppercase;
}
.thCell {
  border-right: 1px solid rgb(241, 243, 244);
}

.tdCell {
  color: gray;
  border: 1px solid rgb(217, 222, 223);
  padding: 10px 15px;
}

.trCell:nth-child(2n) {
  background-color: rgb(241, 243, 244);
}
